---
# This section is used to configure this path on Newline.
# `token` can not be changed; however, the rest of the
# information can be edited as needed. Changes you make
# here will overwrite the existing configuration on Newline
# when you push to the master branch of this path's GitHub repo.

token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwYXRoX2lkIjoxMTQxLCJhdXRob3JfaWQiOjIxMDR9.FP3tK9_lOATDfxKM0bU0szSdlMYh6bwACrDm3L0-XVA

# Everything below this line can be edited.
title: >-
  Capital One Full-Stack Training
description: >-
  A path providing instruction on Angular 1.6, Spring Boot 1.5, and PostgreSQL 9.6.
---
