---
# This section is used to configure this unit on Newline.
# `token` can not be changed; however, the rest of the
# information can be edited as needed. Changes you make
# here will overwrite the existing configuration on Newline
# when you push to the master branch of this path's GitHub repo.

token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NTM3NCwicGF0aF9pZCI6ODcxfQ.UyW3EKnpx_3PAIiKtZA3y7DHbsMcPFmCP7mYOeb41LI

# Everything below this line can be edited.
title: >-
  Middle-Tier with Spring 4
description: >-
  This instruction covers creating database-driven HTML front-ends and JSON-based RESTful APIs using Spring Frameowrk 4.3, Spring Boot 1.4, and Hibernate 5.2.
---
