---
# This section is used to configure this unit on Newline.
# `token` can not be changed; however, the rest of the
# information can be edited as needed. Changes you make
# here will overwrite the existing configuration on Newline
# when you push to the master branch of this path's GitHub repo.

token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NTE2NCwicGF0aF9pZCI6ODcxfQ.WX4vETDZdt8ahzPANSiaKZzuoNcvo4txasg0jmylqYw

# Everything below this line can be edited.
title: >-
  Front-End with Angular 1
description: >-
  This instruction covers services, routing, testing, building reusable components and custom directives, and using all of that to write a robust front-end against a Swagger API spec.
---
