---
# This section is used to configure this unit on Newline.
# `token` can not be changed; however, the rest of the
# information can be edited as needed. Changes you make
# here will overwrite the existing configuration on Newline
# when you push to the master branch of this path's GitHub repo.

token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NTM3NSwicGF0aF9pZCI6ODcxfQ.lo-SgN4JoPoU4DWQhHeSgEptuYSWoidgs4WHRDNqzfQ

# Everything below this line can be edited.
title: >-
  Database Examination with PostgreSQL 9
description: >-
  This instruction covers optimization of a PostgreSQL 9.6 database.
---
